@import url('https://fonts.cdnfonts.com/css/satoshi');
@import "tailwindcss";

@theme {
    --font-sans: "Satoshi", sans-serif;
}

@utility no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;    /* Firefox */
  
  &::-webkit-scrollbar {
    display: none;          /* Chrome, Safari, and Opera */
  }
}